<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Floathing</title>
    <style>
        div{
            width: 960px;
            background-color: brown;
            overflow: hidden;
        }
        li{
           
            marker: none;
            display: inline;    
        }
        ul{
            float: right;
            padding-right: 10px   
        }
        a{
            color: white;
            text-decoration-line:overline; 
        }
    </style>
</head>
<body>
    <div>
      <ul>
          <li><a href="http://">Home</a></li>
          <li><a href="http://">About</a></li>
          <li> <a href="mailto:"> Contact</a></li>
          <li> <a href="http://"> Blog</a></li>
      </ul>
    </div>
</body>
</html>