<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>margine substract</title>
    <style>
        .prva{
            width: 200px;
            height: 200px;
            background-color: blue;
            margin-bottom: 20px;
        }
        .druga{
            width: 200px;
            height: 200px;
            background-color: black;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <!-- Margine se sabiraju sa leve i desne strane, a odozgo i odozdo se gleda veca. -->
    <div class="prva"></div>
    <div class="druga"></div>
</body>
</html>